.btn-change {
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  color: var(--dark-purple);
  cursor: pointer;
  height: 25px;
  margin-right: 5px;
}

.btn-change:hover {
  border: 1px solid var(--light-purple);
  background-color: var(--light-purple);
  color: white;
}

