input {
  border: 1.5px solid white;
  border-radius: 5px;
  height: 20px;
}

#btn-submit {
  height: 30px;
  background-color: white;
  color: var(--dark-purple);
}

#btn-submit:hover {
  background-color: var(--light-purple);
  color: white;
  border: 1.5px solid var(--light-purple);
}