/* this css is used for all pages*/

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(86,9,121);
  background-color: linear-gradient(90deg, rgba(86,9,121,1) 0%, rgba(86,9,121,1) 48%, rgba(147,0,221,1) 100%);
  color: white;
}

:root {
  /* variables */
  --dark-purple: #560979;
  --light-purple: #9300dd;
}

body {
  margin-left: 20px;
}