table {
    width: 20%;
    color: rgb(15, 15, 88);
}

td {
    color: rgb(15, 15, 88);
    width: 10%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #f8f9fa;
    color: rgb(15, 15, 88);
    font-weight: bold;
    padding: 10px;
}

.table td {
    padding: 10px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table a {
    text-decoration: none;
    color: #007bff;
}

.forms {
    padding-left: 1150px;
    display: inline-block;
}

nav {
    color: rgb(15, 15, 88);
    background: linear-gradient(90deg, rgb(144, 174, 227) 35%, rgb(197, 224, 250) 100%);
}

ul a {
    color: rgb(15, 15, 88);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 2.5;
    margin: 0 20px;
}

ul a:hover {
    color: rgb(33, 33, 188);
}