body {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background: white;
    background: linear-gradient(90deg, rgb(154, 181, 228) 35%, rgb(251, 253, 255) 100%);
    color: rgb(15, 15, 88);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    margin-right: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-content p {
    margin-bottom: 10px;
}

button.btn-primary {
    background-color: rgb(15, 15, 88);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button.btn-primary a {
    color: #fff;
    text-decoration: none;
}

button.btn-primary:hover {
    background-color: rgb(68, 68, 140);
}