table {
    width: 70%;
    color: white;
}

td {
    color: white;
    width: 10%;
}

.forms {
    padding-left: 1150px;
    display: inline-block;
}

nav {
    background-color: white;
    color: blue;
    background: rgba(255, 255, 255, .7)
}

ul a {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    line-height: 2.5;
    margin: 0 20px;
}

ul a:hover {
    transform: scale(1.1);
    color: rgb(0, 0, 137);
}