body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background: rgb(0, 57, 159);
    background: linear-gradient(90deg, rgba(0, 57, 159, 1) 35%, rgba(0, 102, 200, 1) 100%);
    color: white;
}

.form-control {
    width: 30%;
}

button:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

a {
    color: white;
}

a:hover {
    color: rgb(138, 206, 255);
}
